* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
  font-family: "Nunito", sans-serif;
}

.heading {
  text-align: center;
}
.heading h3 {
  font-size: 1.6rem;
  color: #dc4f72;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.heading h1 {
  color: #2c3038;
  font-size: 4.6rem;
  line-height: 1;
  font-weight: 700;
}
.heading p {
  color: #5a5a5a;
  font-size: 1.6rem;
  line-height: 22.5px;
  font-weight: 400;
  margin: 16px 0;
}
.btn-primary:active {
  background-color: #dc4f72 !important;
}
.btn-primary:focus {
  box-shadow: 0 0 0 3px rgba(219, 79, 114, 0.5) !important;
}

.btn-light:focus {
  box-shadow: 0 0 0 3px rgba(225, 255, 255, 0.4) !important;
}

/* HEADER START */

.header {
  background: #fff;
  height: 90px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  display: flex;
  transition: all 0.4s ease 0s;
}

.header.scrolled-nav {
  height: 70px;
  align-items: center;
  display: flex;
}

.header .container {
  display: flex;
}

.header .container .header__contain {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-toggler-icon {
  width: 34px;
  height: 34px;
}

.navbar-toggler-icon.fa {
  font-size: x-large;
  color: #fff;
  line-height: 34px;
  background-color: #dc4f72;
  border-radius: 5px;
}

.header__logo p {
  margin-bottom: 0px;
}

.header__logo a {
  color: #dc4f72;
  text-decoration: none;
  font-weight: 700;
  font-size: 2.6rem;
}

.header__contain .navbar {
  width: 100%;
}

.nav-item .nav-link.active {
  color: #dc4f72;
}

.navbar-nav .nav-item.dropdown {
  display: flex;
  align-items: center;
}

.nav-item4 i {
  margin-left: 5px;
}

.navbar-collapse ul li {
  color: #5a5a5a;
  padding: 0 15px;
}

.navbar-collapse ul li.show {
  color: #dc4f72;
}

.navbar-collapse ul li a {
  padding: 0px;
  color: #5a5a5a;
  font-size: 1.6rem;
  text-decoration: none;
  transition: all 0.5s ease;
}

.header__contain .navbar .navbar-collapse ul li a {
  padding: 0px;
}

.navbar-collapse ul li a:hover {
  color: #dc4f72;
}

.navbar-collapse ul li a,
.navbar-brand {
  position: relative;
}

.navbar-collapse ul li a::before,
.navbar-brand::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  background: #dc4f72;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease;
}

.navbar-collapse ul li a:hover::before,
.navbar-brand:hover::before {
  width: 20px;
}

@media screen and (max-width: 991px) {
  .header {
    background: #fff;
    height: auto;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
    transition: all 0.4s ease 0s;
    padding: 20px 0;
  }

  .header.scrolled-nav {
    background: #fff;
    height: auto;
    justify-content: center;
    padding: 10px 0;
    align-items: center;
    animation: none;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  }
  .navbar-nav {
    text-align: center;
  }
  .navbar-collapse.show {
    background: #fff;
  }
  .navbar-collapse ul {
    padding: 20px 0;
  }
  .navbar-collapse ul li {
    margin: auto;
    padding: 8px 0;
  }
  .navbar-collapse ul li a {
    padding: 8px 0;
    text-align: center;
  }
  .header__search {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__search .header__searchInner {
    margin-bottom: 10px;
  }
  .header__btn {
    position: relative;
    height: 55px;
    display: flex;
    justify-content: center;
  }
}

.dropdown-menu {
  margin-top: 15px;
  padding: 16px 0 5px;
  border-radius: 6px;
  box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
  transform: translateX(-50px);
  border: 1px solid #eee;
  z-index: 10;
  background: #fff;
}

.dropdown-menu::after {
  content: "";
  width: 14px;
  height: 14px;
  display: block;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 50%;
  border: 1px solid #eee;
  border-right: none;
  border-bottom: none;
  z-index: 11;
  background-color: transparent;
}

@media screen and (max-width: 991px) {
  .navbar-nav .nav-item.dropdown {
    display: block;
  }
  .navbar-collapse ul li a::before,
  .navbar-brand::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    background: #dc4f72;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease;
  }
  .dropdown-menu {
    margin-top: 15px;
    padding: 16px 0 5px;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
    transform: translateX(0px);
    border: 1px solid #eee;
    background: #fff;
  }
  .dropdown-menu::after {
    content: "";
    width: 14px;
    height: 14px;
    display: block;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 50%;
    border: 1px solid #eee;
    border-right: none;
    border-bottom: none;
    z-index: 11;
    background-color: transparent;
  }
}

.navbar-collapse ul li .dropdown-menu .dropdown__inner {
  display: block;
  width: 175px;
  padding: 0px 24px 14px;
  text-align: inherit;
  background-color: transparent;
}

.header__contain .header__search .header__searchInner {
  color: #5a5a5a;
  font-size: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background: #f7f9fc;
  border: 1px solid #eee;
}

.header__contain .header__search .header__searchInner a {
  color: #5a5a5a;
  opacity: 0.7;
}

.header__contain .header__search .header__searchInner a:hover {
  color: #2c3038;
  opacity: 1;
}

/* HEADERSEARCH INNER START */

#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
}
.mfp-close,
.mfp-close:active {
  top: -40px;
}

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

.popup {
  position: relative;
  margin: 0 auto;
  padding: 15px;
  top: 50%;
  max-width: 600px;
}

.popup__inner .search1 {
  display: flex;
  margin-bottom: 0px;
}

.popup .popup__inner .search1 .form-control {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #5a5a5a;
  height: 55px;
  padding: 15px 20px 12px;
  background: #fff;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 0;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.popup .popup__inner .btn-primary {
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #f5f9fc;
  font-weight: 500;
  height: 55px;
  border: none;
  background: #dc4f72;
  padding: 0 25px;
  border-left: none;
  border-radius: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: all 0.4s ease;
}

.popup .popup__inner .btn-primary:focus {
  box-shadow: none !important;
}

.popup .popup__inner .btn-primary:hover {
  opacity: 0.8;
}

/* HEADERSEARCH INNER END  */

.header__contain .btn {
  display: block;
  width: 200px;
  height: 55px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 52px;
  padding: 0 30px;
  color: #dc4f72;
  border: 1px solid #dc4f72;
  border-radius: 5px;
  background: transparent;
  transition: all 0.3s ease-out;
}

.header__contain .btn:hover {
  background: #dc4f72;
  color: #fff;
}

.btn1 {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  color: #2c3038;
  font-size: 2.4rem;
}

/* ----- THEMEBUTTON START --- */

@media screen and (max-width: 991px) {
  .mobile-position {
    position: absolute;
    right: 60px;
    top: 15px;
  }
}

#switchButton {
  border: none;
  outline: none;
  transition: all 0.4s ease;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}
.dark #switchButton .fa-sun {
  display: block;
  color: #eee;
}
.dark #switchButton .fa-moon {
  display: none;
}
/* ----- THEMEBUTTON END --- */

/* HEADER END */

/* CAROUSEL START */

.Carousel {
  background: url(../img/banner.jpg) no-repeat center / cover;
  width: 100%;
  height: 575px;
  position: relative;
  background-attachment: fixed;
  margin-top: 90px;
}

.Carousel::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92));
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.Carousel .container {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.Carousel__left .heading h1 {
  text-align: left;
  font-size: 50px;
  line-height: 57.5px;
}

.Carousel__left .heading p {
  font-size: 20px;
  line-height: 28px;
  max-width: 450px;
  text-align: left;
}

.Carousel__left .btn {
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 0 30px;
  color: #dc4f72;
  border: 1px solid #dc4f72;
  border-radius: 4px;
  background: transparent;
  transition: all 0.3s ease-out;
}

.Carousel__left .btn:hover {
  color: #fff;
  background: #dc4f72;
}

/* CAROUSEL END */

/* BUSINESS START */

.business {
  padding: 50px 0;
}

.business__inner {
  background: #f7f9fc;
  border: 1px solid #f7f9fc;
  border-radius: 6px;
  padding: 48px 32px;
  transition: all 0.3s ease-in;
}

.business__inner:hover {
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.09);
  transform: translateY(-6px);
}

.business__inner img {
  display: block;
  margin: 0 auto;
}

.business__inner h1 {
  text-decoration: none;
  color: #2c3038;
  font-size: 2.6rem;
  line-height: 35px;
  font-weight: 700;
}

.business__inner p {
  text-decoration: none;
  color: #5a5a5a;
  font-size: 1.6rem;
  line-height: 24.5px;
  margin-top: 15px;
}

/* BUSINESS END */

/* ABOUT START */

.about {
  background: #f7f9fc;
  padding: 50px 0;
}

.about .container {
  padding: 0 25px;
}

.about__content {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.about__left h1 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 25px;
}

.about__left p {
  margin-bottom: 50px;
  line-height: 24.5px;
}

.about__left .btn {
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  padding: 0 30px;
  background: #dc4f72;
  border: 1px solid #d62f58;
  color: #fff;
  transition: all 0.5s;
  border-radius: 4px;
}

.about__left .btn:hover {
  color: #fff;
  background-color: #d62f58;
  border-color: #cf2952;
}

.about__right img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.about__right img:hover {
  transform: translateY(-6px);
}

.about__number {
  margin-top: 25px;
}

.about__inner {
  background-color: #fff;
  padding: 32px;
  border-radius: 6px;
  border: 1px solid #f8f9fa;
  box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
  transition: all 0.3s ease;
}

.about__inner:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.09);
}

.about__inner h1 {
  font-size: 1.6rem;
  line-height: 24.5px;
  font-weight: 700;
  color: #2c3038;
}

.about__inner span {
  display: block;
  font-size: 50px;
  line-height: 1;
  color: #dc4f72;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 15px;
}

.about__inner p {
  font-size: 15px;
  line-height: 1.5;
  color: #5a5a5a;
  margin-bottom: 0;
}

/* ABOUT END */

/* CONTENT START */

.content {
  background: url(../img/bg.jpg) no-repeat center / cover;
  background-attachment: fixed;
  height: 480px;
  padding: 32px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.33)
  );
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.content .container {
  position: absolute;
  z-index: 2;
}

.content__inner {
  width: 550px;
}

.content__inner h1 {
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.content__inner p {
  font-size: 16px;
  line-height: 24.5px;
  color: #eee;
  margin: 25px 0 50px 0;
}

.content__inner .btn {
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 0 30px;
  border-radius: 6px;
  transition: all 0.5s;
}

/* CONTENT END */

/* QUESTIONS  */
.questions {
  padding: 100px 0;
  background-color: #f7f9fc;
}

.questions__bottom {
  display: flex;
  padding-top: 50px;
}

.questions__left {
  width: 50%;
}

.questions__right {
  width: 50%;
}

.questions__left img {
  width: 87%;
  height: auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  transition: all 0.5s;
}

.questions__left img:hover {
  transform: translateY(-15px);
}

.questions__text {
  color: #2c3038;
  font-size: 2rem;
  text-decoration: none;
  padding: 7px 0;
}
.questions__text:hover {
  text-decoration: none;
  color: #2c3038;
}

.questions__right .card-body {
  font-size: 1.5rem;
  padding: 0 30px 23px 15px;
  color: #5a5a5a;
}

.questions__right .btn-link.focus,
.btn-link:focus {
  text-decoration: none;
}

.questions__right .card-header {
  border-bottom: none;
  background-color: white;
  position: relative;
}

.accordion > .card:not(:first-of-type):not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
}

.accordion > .card .card-header {
  margin-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
}

.questions__right .accordion > .card:first-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
}

.accordion > .card .card-header {
  border-radius: 5px;
}

.questions__right .animate__animated.animate__slideInUp {
  --animate-duration: 0.5s;
}

.questions__right .card {
  position: relative;
}

.questions__right i {
  position: absolute;
  top: 25px;
  right: 45px;
}

.questions__right i::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 10px;
  background-color: #2c3038;
  transform: rotate(45deg);
}

.questions__right i::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 10px;
  background-color: #2c3038;
  transform: translate(-3px) rotate(-45deg);
}

.questions__right .show i::after {
  content: "";
  transform: translate(3px);
}

.questions__right .show i::before {
  content: "";
  transform: translate(-3px);
}

/* FEATURRED  */
.featured__project .nav {
  justify-content: center;
}

.featured__project {
  padding: 0 90px;
}

.featured__project .nav-tabs button {
  font-size: 2rem;
  font-weight: 700;
  color: #2c3038;
  background-color: white;
  border-bottom: 1px solid rgb(193, 193, 193);
  width: 230px;
}

.featured__project .nav-tabs .nav-item {
  padding: 0 40px;
  margin: 0;
}
.featured__project .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #dd5577;
  border-bottom: 3px solid #dd5577;
  border-top: none;
  border-left: none;
  border-right: none;
}

.featured__project .nav-tabs {
  border: none;
}

.featured__project ul li button:focus {
  outline: none;
}

.featured__project ul li button {
  border-bottom-color: #dd5577;
}

.featured__project .nav-tabs .nav-link:focus,
.nav-tabs .nav-link {
  transition: all 0.5s;
}
.featured__project .nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  color: #dd5577;
  border-color: white;
  border-bottom: 3px solid #dd5577;
  transform: translateY(-5px);
}

.featured__project .show {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.featured__project .show .content__text {
  width: 50%;
  padding-left: 10px;
}

.featured__project .show .content__text h1 {
  font-size: 3rem;
  margin-bottom: 16px;
  color: #2c3038;
  line-height: 36px;
  font-weight: 700;
}

.featured__project .show .content__text p {
  font-size: 1.6rem;
  margin-bottom: 16px;
  color: #5a5a5a;
  line-height: 24.5px;
}

.featured__project .show .content__text button {
  padding: 15px 28px;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #dd5577;
  color: #dd5577;
  background-color: white;
  transition: all 0.3s linear;
  display: inline-block;
}

.featured__project .btn-danger.focus,
.btn-danger:focus {
  box-shadow: 0 0 0 0.3rem rgba(225, 85, 119, 0.5);
}

.featured__project .show .content__text button:hover {
  background-color: #dd5577;
  color: white;
}

.featured__project .show .content__img {
  width: 45%;
  transition: all 0.5s;
}

.featured__project .show .content__img:hover {
  transform: translateY(-13px);
}

.featured__project .show .content__img img {
  width: 100%;
  border-radius: 5px;
}

.featured__project .fade {
  transition: none;
}

/* CLIENTS  */

/* BACKTOTOP START  */

.cd-top {
  display: block;
  width: 50px;
  height: 45px;
  background: #dc4f72;
  border-radius: 3px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  position: fixed;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
  font-size: 16px;
}

.cd-top:hover {
  opacity: 1;
  color: #fff;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 0.7;
}

/* BACKTOTOPEND  */

/* ----- DARKTHEME START ----- */

/* HEADER DARK START */

.dark .header {
  background: #131617;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  border-bottom: none;
}

.dark .header.scrolled-nav {
  background: #131617;
  height: 70px;
}

.dark .header.scrolled-nav .navbar-collapse ul li {
  color: #eee;
}

.dark .header.scrolled-nav .navbar-collapse .nav-item .nav-link.active {
  color: #dc4f72;
}

.dark .header.scrolled-nav .navbar-collapse ul li.show {
  color: #dc4f72;
}

.dark .header.scrolled-nav .navbar-collapse ul li a {
  color: #b7b7b7;
  transition: all 0.5s ease;
}

.dark .navbar-collapse ul li {
  color: #eee;
  transition: all 0.5s ease;
}

.dark .navbar-collapse ul li.show {
  color: #dc4f72;
}

.dark .navbar-collapse ul li a {
  color: #eee;
  transition: all 0.5s ease;
}

.dark .navbar-collapse ul li a:hover {
  color: #dc4f72;
}

.dark .navbar-collapse ul li a,
.dark .navbar-brand {
  position: relative;
}

@media screen and (max-width: 991px) {
  .dark .header {
    background: #131617;
    height: auto;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
    transition: all 0.4s ease 0s;
    padding: 20px 0;
  }

  .dark .header.scrolled-nav {
    background: #131617;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    align-items: center;
    animation: none;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  }

  .dark .navbar-collapse.show {
    background: #131617;
  }
}

.dark .dropdown-menu {
  margin-top: 15px;
  padding: 16px 0 5px;
  border-radius: 6px;
  box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
  transform: translateX(-50px);
  border: 1px solid #333;
  z-index: 10;
  background: #131617;
}

.dark .dropdown-menu::after {
  content: "";
  width: 14px;
  height: 14px;
  display: block;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 50%;
  border: 1px solid #333;
  border-right: none;
  border-bottom: none;
  z-index: 11;
  background: #131617;
}

@media screen and (max-width: 991px) {
  .dark .navbar-nav .nav-item.dropdown {
    display: block;
  }
  .dark .navbar-collapse ul li a::before,
  .dark .navbar-brand::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    background: #dc4f72;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease;
  }
  .dark .dropdown-menu {
    margin-top: 15px;
    padding: 16px 0 5px;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
    transform: translateX(0px);
    border: 1px solid #333;
    background: #131617;
  }
  .dark .dropdown-menu::after {
    content: "";
    width: 14px;
    height: 14px;
    display: block;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 50%;
    border: 1px solid #333;
    border-right: none;
    border-bottom: none;
    z-index: 11;
    background-color: transparent;
  }
}

.dark .navbar-collapse ul li .dropdown-menu .dropdown__inner {
  display: block;
  width: 175px;
  padding: 0px 24px 14px;
  text-align: inherit;
  background-color: #131617;
}

.dark .navbar-collapse ul li .dropdown-menu .dropdown__inner a {
  background-color: transparent;
  color: #eee;
}

.dark .header__contain .header__search .header__searchInner {
  color: #b7b7b7;
  font-size: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background: #191c1d;
  border: 1px solid #333;
}

.dark .header__contain .header__search .header__searchInner a {
  color: #b7b7b7;
  opacity: 0.7;
}

.dark .header__contain .header__search .header__searchInner a:hover {
  color: #eee;
  opacity: 1;
}

/* HEADERSEARCH INNER START */

.dark .popup .popup__inner .search1 .form-control {
  color: #b7b7b7;
  background: #131617;
  border: 1px solid #333;
}

/* HEADERSEARCH INNER END */

.dark .header__contain .btn {
  display: block;
  width: 200px;
  height: 55px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 52px;
  padding: 0 30px;
  color: #dc4f72;
  border: 1px solid #dc4f72;
  border-radius: 5px;
  background: transparent;
  transition: all 0.3s ease-out;
}

.dark .header__contain .btn:hover {
  background: #dc4f72;
  color: #fff;
}

/* HEADER DARK END */

/* CAROUSEL DARK START */

.dark .Carousel::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #131617, rgba(255, 255, 255, 0.92));
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.dark .Carousel__left .heading h1 {
  text-align: left;
  font-size: 50px;
  line-height: 57.5px;
  color: #eee;
}

.dark .Carousel__left .heading p {
  font-size: 20px;
  line-height: 28px;
  max-width: 450px;
  text-align: left;
  color: #b7b7b7;
}

/* CAROUSEL DARK END */

/* BUSINESS DARK START */

.dark .business .container .heading h1 {
  color: #eee;
}

.dark .business .container .heading p {
  color: #b7b7b7;
}

.dark .business {
  background-color: #131617;
}

.dark .business__inner {
  background: #191c1d;
  border: 1px solid #191c1d;
  border-radius: 6px;
  padding: 48px 32px;
  transition: all 0.3s ease-in;
}

.dark .business__inner:hover {
  background: #131617;
  border: 1px solid #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.09);
  transform: translateY(-6px);
}

.dark .business__inner h1 {
  text-decoration: none;
  color: #eee;
  font-size: 2.6rem;
  line-height: 35px;
  font-weight: 700;
}

.dark .business__inner p {
  text-decoration: none;
  color: #b7b7b7;
  font-size: 1.6rem;
  line-height: 24.5px;
  margin-top: 15px;
}

/* BUSINESS DARK END */

/* ABOUT DARK START */

.dark .about {
  background: #191c1d;
}
.dark .about__left h1 {
  color: #eee;
}

.dark .about__left p {
  color: #b7b7b7;
  line-height: 24.5px;
}

.dark .about__inner {
  background-color: #131617;
  border: 1px solid #333;
  box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
  transition: all 0.3s ease;
}

.dark .about__inner h1 {
  color: #eee;
}

.dark .about__inner p {
  color: #b7b7bb;
}

/* ABOUT DARK END */

/* ----- DARKTHEME END ----- */
