* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
  font-family: "Nunito", sans-serif;
}

.heading {
  text-align: center;
}
.heading h3 {
  font-size: 1.6rem;
  color: #dc4f72;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.heading h1 {
  color: #2c3038;
  font-size: 4.6rem;
  line-height: 1;
  font-weight: 700;
}
.heading p {
  color: #5a5a5a;
  font-size: 1.6rem;
  line-height: 22.5px;
  font-weight: 400;
  margin: 16px 0;
}

/* HEADER START */

.header {
  background: #fff;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}

.header .container {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo a {
  color: #dc4f72;
  text-decoration: none;
  font-weight: 700;
  font-size: 2.6rem;
}

.header__contain {
  display: flex;
  align-items: center;
}

.navbar .navbar-brand {
  font-size: 1.6rem;
  color: #dc4f72;
}

.navbar-nav .nav-item.dropdown {
  display: flex;
  align-items: center;
}

.nav-item4 i {
  margin-left: 5px;
}

.navbar-collapse ul li {
  color: #5a5a5a;
  padding: 0 15px;
}

.navbar-collapse ul li a {
  padding: 0px;
  color: #5a5a5a;
  font-size: 1.6rem;
  text-decoration: none;
  transition: all 0.5s ease;
}

.header__contain .navbar .navbar-collapse ul li a {
  padding: 0px;
}

.navbar-collapse ul li a:hover {
  color: #dc4f72;
}

.navbar-collapse ul li a,
.navbar-brand {
  position: relative;
}

.navbar-collapse ul li a::before,
.navbar-brand::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  background: #dc4f72;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease;
}

.navbar-collapse ul li a:hover::before,
.navbar-brand:hover::before {
  width: 20px;
}

.header__contain .header__search {
  color: #5a5a5a;
  font-size: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background: #f7f9fc;
}

.header__contain .header__search a {
  color: #5a5a5a;
  opacity: 0.7;
}

.header__contain .header__search a:hover {
  color: #2c3038;
  opacity: 1;
}

.header__contain .btn {
  display: block;
  width: 200px;
  height: 55px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 52px;
  padding: 0 30px;
  color: #dc4f72;
  border: 1px solid #dc4f72;
  border-radius: 5px;
  background: #fff;
  transition: all 0.3s ease-out;
}

.header__contain .btn:hover {
  background: #dc4f72;
  color: #fff;
}

/* HEADER END */

/* CAROUSEL START */

.carousel {
  background: url(../img/banner.jpg) no-repeat center / contain;
}

.carousel .container {
  width: 100%;
  height: 1200px;
  display: flex;
  align-items: center;
}
/* CAROUSEL END */

/* QUESTIONS  */
.questions {
  padding-top: 100px;
}

.questions__bottom {
  display: flex;
}

.questions__left {
  width: 50%;
}

.questions__right {
  width: 50%;
}

.questions__left img {
  width: 100%;
  height: auto;
}
